:host {
  display: block;
}

.createCandidate__container {

  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createCandidate__formContainer {
  max-width: 50vw;
}
