<div class="homepage__container">
	<div class="fillForm__Container">
		<!-- <img src="assets/images/fillCandidateForm.jpg" alt=""> -->
		<button mat-fab extended [routerLink]="'add-candidates'">
			<mat-icon>edit_note</mat-icon>
			Introducir Candidatos
		</button>
	</div>
	<div class="readForm__Container">
		<!-- <img src="assets/images/viewCandidates.jpg" alt=""> -->
		<button mat-fab extended [routerLink]="'view-candidates'">
			<mat-icon>fact_check</mat-icon>
			Visualizar Candidatos
		</button>
	</div>
</div>
