<div class="homepage__container">
	<div class="fillForm__Container">
		<mat-card class="cardOption__Container" [routerLink]="'add-candidates'" appearance="outlined">
      <mat-card-header>Crear candidato</mat-card-header>
			<mat-card-content>
				<img class="cardOption__image" src="assets/images/createCandidate.jpg" alt="" />
			</mat-card-content>
		</mat-card>
	</div>
	<div class="readForm__Container">
		<mat-card class="cardOption__Container" [routerLink]="'view-candidates'" appearance="outlined">
      <mat-card-header>Visualizar candidatos</mat-card-header>
			<mat-card-content>
				<img class="cardOption__image" src="assets/images/visualizeCandidate.jpg" alt="" />
			</mat-card-content>
		</mat-card>
	</div>
</div>
