:host {
	display: block;
}

.visualizeCandidate__container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	padding: 5em 0;
}

.candidateTable__container {
	max-width: 70vw;
}

.cell__centered {
	text-align: center;
  vertical-align: middle;
}
